html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    padding: 20px;
    word-wrap: break-word;
}

.box1 {
    background-color: rgb(112, 179, 228);
}

.box2 {
    background-color: rgb(247, 142, 196);
}